.wrapper {
  position: relative;
  margin-bottom: 20px;
}

.dashboard {
  background: #3498db;
  color: white;
  padding: 20px;
}

h3, h4 {
  margin-top: 10px;
  line-height: 1px;
}

.lastblock, .transactions {
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.lastblock, .hashrate{
  float: left;
}

.transactions, .netdifficulty {
  text-align: right;
}

.lastblock::before, .transactions::after {
  clear: both;
  content: " ";
  display: table;
}
